---
---

@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --rosewood: #550C18;
  --independance: #3A405A;
}

body {
  --font: 'Poppins';
  font-family: var(--font);
}

section {
  width:750px;
  float:center;
  padding-bottom:50px;
  margin: auto;
}  

footer, header {
  width:750px;
  text-align: center;
  float:center;
  bottom:50px;
  margin: auto;
}

h1, h2, strong, body {
  color: var(--rosewood);
}

a:link {
  color: pink;  
}

a:visited {
  color: var(--independance); 
}

a:hover {
  font-weight: bold; 
}

.highlight {
   color: white;
  background-color: var(--rosewood);  
  border-radius: 0.2em;
  border: 0.2em;
  padding-left: 0.1em;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}

table {
    border-collapse: collapse;
    margin: 1em;
}

td, th {
    padding: 0.15em;
    border: 0.15em solid var(--rosewood);
}
