---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --rosewood: #550C18;
  --independance: #3A405A;
}

body {
  --font: 'Poppins';
  font-family: var(--font);
}

section {
  width:750px;
  float:center;
  padding-bottom:50px
}  

footer {
  float:center;
  bottom:50px;
}

h1, h2, strong, body {
  color: var(--rosewood);
}

a:link {
  color: pink;  
}

a:visited {
  color: var(--independance); 
}

a:hover {
  font-weight: bold; 
}
