---
---

@import "{{ site.theme }}";

:root {
  --rosewood: #550C18;
  --independance: #3A405A;
}

h1, h2, strong, body {
  color: var(--rosewood);
}

a {
  color: pink;  
}

a:visited {
  color: var(--independance); 
}

a:hover {
 font-weight: bold; 
}
